h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	text-align: center;
	color: #fdfdfd;
}

h2 {
	font-family: 'Courier New', Courier;
	font-size: 1em;
	text-align: center;
	color: #8b2d2d;
}

h3 {
	font-family: 'Avenir';
	font-size: 0.75em;
	text-align: center;
	color: #f3f3f3;
	text-align: center;
}

html,
body {
	font-family: 'Avenir';
	background-color: #b6b6b6;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

a,
button {
	display: inline-block;
	font-family: 'Courier New', Courier;
	font-size: 1em;
	padding: 7px 30px;
	background-color: #fdfdfd;
	color: #000000;
	text-decoration: none;
	border-radius: 7px;
	transition: background-color 0.3s;
	cursor: pointer;
	border: none;
}

a:hover,
button:hover {
	background-color: #ca9999;
	color: #ffffff;
}

section {
	margin-bottom: 39px;
	padding: 30px;
	border: 2px solid #8b2d2d;
	border-radius: 10px;


}

footer {
	font-family: 'Courier New', Courier, monospace;
	margin: 20px;
	padding: 20px;
	color: #fdfdfd;
}


.profile-content .profile-pic {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}



.profile-content .profile-pic {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}


/* CSS FOR THE MATCHMAKING PAGE */

.matchmakingdiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.matchmakingdiv .title-div .matchmaking-title {
	margin-top: 50px;
}

.matchmakingdiv .radio-buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.matchmakingdiv .radio-buttons .queue-checkbox {
	appearance: none;
	background-color: #fafafa;
	border: 2px solid #cacece;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100px;
	margin: 20px;
	transition: border .5s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

.matchmakingdiv .radio-buttons .queue-checkbox:checked {
	border: 2px solid #3090C7;
}

.matchmakingdiv .radio-buttons .queue-label {
	display: block;
	text-align: center;
	padding-top: 10px;
}

.matchmakingdiv .button-div .queue-button {
	margin-top: 50px;
}