
/********** GENERAL ***********/
html {
	text-align: center;
}

body {
	background-image: url('../images/Site/BG.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

p {
	text-align: justify;
    margin-top: 3em;
	margin-left: 5em;
	margin-right: 5em;
	display: flex;
	text-justify: center;
}

a {
	text-decoration: none !important;
	color: black !important;
}

a:hover {
	text-decoration: none !important;
	color: #b32c6f !important;
}

#custom-footer {
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.75em;
	text-align: center;
	color: #7b8787;
	background-color: #eeeeeef5;
	text-align: center;
}

#custom-footer.hidden {
	display: none;
}

#navbar.hidden {
	display: none;
}

#app-general-container {
	padding-top: 10em;
	padding-bottom: 10em;
}

/********** MENU BAR ***********/
/* .container-fluid {
	position: fixed;
	font-family: 'Courier New', Courier, monospace;
	background-color: #7b8787;
	border-radius: 10px;
	margin: 1.5em;
	z-index: 1000;
}

.container-fluid.hidden {
    display: none;
} */

/********** HOME CARD PAGE ***********/
.image-container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.original-image,
.hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease;
}

.hover-image {
    opacity: 0; /* Initially hidden */
}

.image-container:hover .hover-image {
    opacity: 1; /* Visible on hover */
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin: 0 auto;
	margin-top: 1em;
}

.buttons-container button {
    padding: 8px 20px;
	border-radius: 7px;
    border: none;
    background-color: #1b1b1c;
    color: #fff;
    transition: background-color 0.3s;
}

.buttons-container button:hover {
    background-color: #b32c6f;
} 

/********** PONG ***********/
#pong-renderer {
	/* display: flex;
	justify-content: center; */
	width: 100vw;
	height: 100vh;
	margin: 0;
}

#pong-score {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	color: #7b8787;
}

#custom-endgame {
	display: flex;
	justify-content: center;
	padding: 7em;
	margin: 0 auto;
}

.scoreboard {
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.score {
	font-size: 1rem;
}

/********** POKEMAP ***********/
.PokeGB {
	position: relative;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-boy-background {
	display: flex;
	width: 52vw;
	z-index: 2;
	position: relative;
}

.pokecanva {
	position: absolute;
	top: 12%; /* Position of the rectangle inside the image */
	left: 50%;
	transform: translate(-50%, 0);
	width: 50%; /* Size of the rectangle inside the image */
	height: auto;
	z-index: 1;
}




