
# Volumes
./services/volumes

# Django
__init__
__pycache__

# Environment
env
.env
.env_chat
.env_game3d
.env_JWToken
.env_nginx
.env_pokemap
.env_token
.env_user


# Secrets
.key

# Systeme
**/.vscode
**/.DS_Store
