{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Click</title>
</head>
<body>
    <button id="getbutton">get token</button>
    <script>
        document.getElementById("getbutton").addEventListener("click", function() {
            fetch("/api/token/generation/", {
                method: "POST",
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
				var token = data.token;
				console.log("token = ", token)
				localStorage.setItem('api_token', token);
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Error occurred while sending request!");
            });
        });
    </script>
	<button id="sendbutton">send token</button>
    <script src="{% static 'auth.js' %}"></script>
    <script>
        document.getElementById("sendbutton").addEventListener("click", function() {
			var token = localStorage.getItem('api_token');
			if (!token) {
				alert("API token not available!");
				return;
			}
            authenticate(token)
            .then(authenticated => {
                if (authenticated) {
                    console.log("Authentification réussie");
                } else {
                    console.log("Échec de l'authentification");
                }
            });
        });
    </script>
</body>
</html>
