.user-info {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #000000;
    margin-bottom: 10px; /* Ajout d'une marge en bas */
}

.user-info label {
    font-weight: bold;
    display: inline-block; /* Afficher le label et la valeur sur une même ligne */
    width: 150px; /* Ajout d'une largeur fixe pour le label */
    margin-right: 10px; /* Ajout d'une marge à droite pour séparer le label de la valeur */
}