.user-info {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #8b8b86 ;
    margin-bottom: 10px;
}

.user-info label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.user-info .profile-pic {
    border-radius: 50%; /* Rendre l'image ronde */
    width: 100px; /* Définir la largeur souhaitée */
    height: 100px; /* Définir la hauteur souhaitée */
    object-fit: cover; /* Ajuster la taille de l'image pour couvrir le conteneur sans déformer l'image */
}

