{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	<link rel="stylesheet" href="{% static 'user_profil.css' %}" />
	<link rel="stylesheet" href="{% static 'friends.css' %}" />
</head>

<body>

	<header>
		<h1>
			<a href="{% url 'home' %}"  class="title">Transcendence </a>
		</h1>
	</header>

	<div>
	<div id ="Index">

	<h2>"I am the user microservice"
		</h2>
	{% block content %}{% endblock content %}

	{% if user.is_authenticated %}
	<p>
		You are logged in as {{ request.user.username }} </p>
	<p>
		<a href="{% url 'logout' %}" class="button">Disconnect</a>
		<a href="{% url 'user_profile' %}" class="button">See my profile</a>
	</p>
	{% endif %}
	<footer>
		<p>© 2024 La pat patrouille</p>
	</footer>

</body>
</html>
