{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur notre site</h1>
    <!-- <p>C'est la page d'accueil de notre site.</p> -->
    
    <!-- <h2>Liens utiles :</h2> -->
    <ul>
        {% if not user.is_authenticated %}
        <a href="{% url 'signup' %}">Inscription</a></li>
        <a href="{% url 'login' %}">Connexion</a></li>
        {% endif %}
        <!-- Ajoutez d'autres liens si nécessaire -->
    </ul>
</body>
</html>

{% endblock content %}

